<%= title "Users" %>

<%= breadcrumbs "Users" %>

<% if @users.empty?%>
  <div class="alert alert-warning">No users found.</div>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, edit_user_path(user) %> <% if user.admin? %><span class="label label-warning">Admin</span><% end %></td>
          <td><%= user.email %></td>
          <td class="txtr">
            <%= link_to gicon("pencil", "Edit"), edit_user_path(user), class: "btn btn-default btn-sm" %>
            <%= link_to gicon("trash", "Delete"), user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete this user?" }, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to "Add a User", new_user_path, class: "btn btn-primary" if current_user.admin? %>
