<% content_for :javascript do %>
  <%= javascript_tag "App.TrackingLinkController.setup();" %>
<% end %>

<%= bootstrap_form_for [site, tracking_link], style: :horizontal, left: "col-md-2", right: "col-md-5", html: { id: "tracking_link_form" } do |f| %>
  <%= f.alert_message "Please fix the errors below" %>

  <%= f.select :medium, TrackingLink::MEDIA %>
  <%= f.text_field :landing_page_url %>
  <%= f.text_field :campaign, help: "Examples: Winter Sale, Free Upgrade Promotion" %>
  <%= f.text_field :source, help: "Examples: Google, Facebook, Blog, Newsletter" %>
  <%= f.text_field :ad_content, help: "Example: Buy One, Get One Free" %>

  <% if tracking_link.cost %>
    <hr>
    <%= f.form_group do %>
      <p><span class="label label-warning">OPTIONAL</span> Track the cost of your ad. You can also upload cost reports later for exact figures.</p>
    <% end %>

    <%= f.fields_for :cost do |cost_f| %>
      <% if tracking_link.persisted? %>
        <%= cost_f.hidden_field :type %>
        <div class="form-group">
          <label class="col-md-2 control-label" for="user_email">Type</label>
          <div class="col-md-5">
            <p class="form-control-static"><%= cost_f.object %></p>
          </div>
        </div>
      <% else %>
        <%= cost_f.hidden_field :_destroy, value: "1" %>
        <%= cost_f.select :type, Cost::TYPES, include_blank: true %>
      <% end %>
      <%= cost_f.text_field :amount, prepend: "$" %>
      <div id="monthly-cost-start-date" class="hide">
        <%= cost_f.text_field :start_date, class: "datepicker", prepend: gicon("calendar") %>
      </div>
      <div id="monthly-cost-end-date" class="hide">
        <%= cost_f.text_field :end_date, class: "datepicker", prepend: gicon("calendar"), help: "End date is optional. Leave blank for an ongoing payment." %>
      </div>
    <% end %>
    <hr>
  <% end %>

  <%= f.form_group do %>
    <%= f.primary %>
    <% if tracking_link.persisted? %>
      <%= link_to "Cancel", site_tracking_link_path(site, tracking_link), class: "btn btn-default" %>
    <% else %>
      <%= link_to "Cancel", site_tracking_links_path(site), class: "btn btn-default" %>
    <% end %>
  <% end %>
<% end %>
