<%= bootstrap_form_for [site, tracking_link], style: :horizontal, left: "col-md-2", right: "col-md-5" do |f| %>
  <%= f.alert_message "Please fix the errors below" %>

  <%= f.select :medium, TrackingLink::MEDIA %>
  <%= f.text_field :landing_page_url %>
  <%= f.text_field :campaign, help: "Examples: Winter Sale, Free Upgrade Promotion" %>
  <%= f.text_field :source, help: "Examples: Google, Facebook, Blog, Newsletter" %>
  <%= f.text_field :ad_content, help: "Example: Buy One, Get One Free" %>

  <hr>
  <%= f.form_group do %>
    <p><span class="label label-warning">OPTIONAL</span> Track the cost of your ad. You can also upload spend reports later for exact figures.</p>
  <% end %>
  <%= f.select :cost_type, TrackingLink::COST_TYPES %>
  <%= f.text_field :cost, prepend: "$" %>
  <hr>

  <%= f.form_group do %>
    <%= f.primary %>
    <% if tracking_link.persisted? %>
      <%= link_to "Cancel", site_tracking_link_path(site, tracking_link), class: "btn btn-default" %>
    <% else %>
      <%= link_to "Cancel", site_tracking_links_path(site), class: "btn btn-default" %>
    <% end %>
  <% end %>
<% end %>
