<%= title "#@site Tracking Links" %>

<%= render "tabs", site: @site %>

<%= link_to "New Tracking Link", new_site_tracking_link_path(@site), class: "btn btn-primary new-tracking-link" if current_user.admin? %>

<% if @tracking_links.empty? %>
  <div class="alert alert-warning">No tracking links found.</div>
<% else %>
  <table class="table tracking-links">
    <thead>
      <tr>
        <th>Link ID</th>
        <th>Medium</th>
        <th>Campaign</th>
        <th>Source</th>
        <th>Ad Content</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <% @tracking_links.each do |tracking_link| %>
        <tr>
          <td><%= gicon "link" %> <%= link_to tracking_link.token, [@site, tracking_link] %></td>
          <td><%= tracking_link.medium %></td>
          <td><%= tracking_link.campaign %></td>
          <td><%= tracking_link.source %></td>
          <td><%= tracking_link.ad_content %></td>
          <td>
            <% if tracking_link.cost %>
              <%= number_to_currency tracking_link.cost.amount %> (<%= tracking_link.cost %>)
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
