<div class="row">
  <div class="col-md-4">
    <%= bootstrap_form_for site do |f| %>
      <%= f.alert_message "Please fix the error below" %>

      <%= f.text_field :name, help: (site.persisted? ? "" : "Example: My Website") %>
      <%= f.primary %>
      <% if site.persisted? %>
        <%= link_to "Cancel", site, class: "btn btn-default" %>
      <% else %>
        <%= link_to "Cancel", sites_path, class: "btn btn-default" %>
      <% end %>
    <% end %>
  </div>
</div>
