<%= page_title "Sites" %>

<%= link_to "Add a Site", new_site_path, class: "btn btn-primary new-site" if current_user.admin? %>

<% if @sites.empty? %>
  <div class="alert alert-warning">No sites found.</div>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Site</th>
        <th>Visits</th>
        <th>Conversions</th>
      </tr>
    </thead>
    <% @sites.each do |site| %>
      <tr>
        <td><%= gicon "stats" %> <%= link_to site, site %></td>
        <td class="text-muted"><%= pluralize site.visits.count, "Visit" %></td>
        <td class="text-muted"><%= pluralize site.conversions.count, "Conversion" %></td>
      </tr>
    <% end %>
  </table>
<% end %>
