<%= title @site %>

<% content_for :javascript do %>
  <%= javascript_tag "App.siteStatsController.setup();" %>
<% end %>

<%= breadcrumbs sites_path, @site %>

<% if current_user.admin? %>
  <div class="row">
    <div class="col-md-6">
      <%= link_to gicon("link", "Tracking Links"), site_tracking_links_path(@site), class: "btn btn-default" %>
      <%= link_to gicon("star", "Conversion Code"), pixel_site_path(@site), class: "btn btn-default" %>
      <%= link_to gicon("cloud-upload", "Cost Imports"), site_imports_path(@site), class: "btn btn-default" %>
    </div>
    <div class="col-md-6 txtr">
      <%= link_to gicon("pencil", "Edit Site"), edit_site_path(@site), class: "btn btn-default" %>
      <%= link_to gicon("trash", "Delete Site"), site_path(@site), method: :delete, data: { confirm: "Are you sure you want to delete this site?" }, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>

<div class="well well-sm site-date-pickers">
  Visitors from
  <input type="text" id="start-date" class="form-control date-picker">
  to
  <input type="text" id="end-date" class="form-control date-picker">

  <select id="medium" class="form-control">
    <option value="">All Media</option>
    <%= options_for_select TrackingLink::MEDIA %>
  </select>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <%= gicon "calendar" %> Shortcuts <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#" data-date-shortcut="today">Today</a></li>
      <li><a href="#" data-date-shortcut="yesterday">Yesterday</a></li>
      <li><a href="#" data-date-shortcut="last-7-days">Last 7 Days</a></li>
      <li><a href="#" data-date-shortcut="last-30-days">Last 30 Days</a></li>
      <li><a href="#" data-date-shortcut="this-month">This Month</a></li>
      <li><a href="#" data-date-shortcut="last-month">Last Month</a></li>
    </ul>
  </div>
</div>

<div class="site-visitor-chart" data-url="<%= visitors_chart_api_site_path(@site) %>"></div>

<table class="table site-media-table" data-url="<%= media_chart_api_site_path(@site) %>">
  <thead>
    <tr>
      <th>Medium</th>
      <th>Visits</th>
      <th>Conversions</th>
      <th>Conversion Rate</th>
      <th class="money">Cost</th>
      <th class="money">Revenue</th>
      <th class="money">Profit</th>
      <th class="money"><span data-toggle="tooltip" title="Cost Per Visit">CPV <%= gicon "info-sign" %></span></th>
      <th class="money"><span data-toggle="tooltip" title="Revenue Per Visit">RPV <%= gicon "info-sign" %></span></th>
      <th class="money"><span data-toggle="tooltip" title="Customer Acquisition Cost">CAC <%= gicon "info-sign" %></span></th>
      <th class="money"><span data-toggle="tooltip" title="Revenue Per User">RPU <%= gicon "info-sign" %></span></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<script type="text/html" id="site-medium-template">
  <tr class="site-medium">
    <td><%%= medium %></td>
    <td><%%= visits %></td>
    <td><%%= conversions %></td>
    <td><%%= conversion_rate %>%</td>
    <td class="money">$<%%= cost %></td>
    <td class="money">$<%%= revenue %></td>
    <td class="money profit">$<%%= profit %></td>
    <td class="money">$<%%= cost_per_visit %></td>
    <td class="money">$<%%= revenue_per_visit %></td>
    <td class="money">$<%%= cost_per_conversion %></td>
    <td class="money">$<%%= revenue_per_conversion %></td>
  </tr>
</script>
